<div class="wrapper">
    <div id="items">
        <h1></h1>
        {{#each data.results}}
            {{series.name}}
            #{{issueNumber}}
            <a href="#">
                <img src="{{thumbnail.path}}.{{thumbnail.extension}}" alt="" height="250"/>
            </a>
        {{/each}}
    </div>
    <p>
        {{attributionText}}
    </p>
</div>
