<div id="wrapper">
    <div id="collection" class="">
        <h1>Excellsior, {{firstname}}</h1>
        <div>
            <h2>Your subscriptions:</h2>
        </div>
        <div>
            <ul class="subscriptions">
            {{#each subscriptions}}
                <li id="{{_id}}">
                    <a href="/series/{{seriesid}}">{{title}}</a>
                    <button class="btnDeleteSub" data-id="{{_id}}">Unsubscribe</button>
                </li>
            {{/each}}
        </div>
    </div>
</div>
