<h3>Search Results</h3>
{{data.attributionText}}
{{#each data.results}}
    <div class="series">
        <h2>{{title}}</h2>
        <a href="/series/{{id}}">
            <img src="{{thumbnail.path}}.jpg" alt="{{title}}-image" height="150"/>
        </a>
        <div class="series-detail">
            <p>
                Available issues: {{comics.available}}
            </p>
            <p>
                Type: {{type}}
            </p>
        </div>
    </div>
{{/each}}
